* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
    background-color: #eef0f2;
}

aside {
	display: flex;
	background-color: white;
	width: 25%;
	height: 100%;
}

ul {
	display: flex;
	flex-direction: column;
	background-color: white;
}

button {
	background-color: blueviolet;
	padding: 12px 20px;
}
.miniatura {
	height: 80px;
	width: 80px;
	border-radius: 90%;
}

.hero {
	display: flex;
	justify-items: center;
	justify-content: center;
}

.card {
	display: flex;
}

.hands {
	height: 400px;
	width: 400px;
}